<div class="about-container container mt-5">
    <section class="about-section mb-5">
      <h2 class="text-center mb-4">About Us</h2>
      <p>Welcome to Fly High Airlines! We are committed to providing the best air travel experience. Our fleet is modern, our staff is friendly, and our services are designed to meet all your travel needs.</p>
    </section>

    <div class="map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9353.41215068214!2d-6.75003712550645!3d54.12067063634769!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4860bbaaefa20a61%3A0xa00c7a99731e9e0!2sDrumillard%20Little%2C%20Castleblayney%2C%20Co.%20Monaghan!5e0!3m2!1sen!2sie!4v1718144414011!5m2!1sen!2sie" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>


      <div class="map-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/FFpo-Z3g8nQ?si=iiZ3HTj_oTLjeuqL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

  </div>